body {
    margin: 0;
    padding: 0;
    color: yellow;
    font-family: Arial, sans-serif;
    background-image: url('uploads/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.content {
    margin: 50px 15px;
}

.highlight {
    color: orange;
}
.image-link {
    text-align: center;
    margin: 20px; /* Upravte podle potřeby */
}

.image-link img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: 0 auto; /* Zarovnání obrázku na střed */
}

.image-link p {
    margin-top: 10px; /* Vzdálenost mezi obrázkem a textem */
    font-weight: bold;
}
.imagecontainer {
    display: flex;
}
.position {
    width:200px;
}
.thumbnail-container {
    display: flex;
}

.center {
    display: flex;
}

.header {

}

.calendar-container {
    display: flex;
}

.calendar-text {
    width: 40%; /* Allocate 50% of the screen for text content */
    padding: 50px;
    font-size: 24px;

}

#calendar {
    height: 65vh;
    width: 50vw;
    transition: 0.5s ease;
    margin-top: 80px;
    margin-left: 50px;
}

#calendar th {
    font-size: 24px;
}

.reservation-button {
    text-decoration: none;
    background-color: grey;
    color: #FFF;
    font-size: 22px;
    padding: 10px 80px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    border-radius: 5px;
}

.reservation-button-container {
    width: 25vw; /* Set width to 25% of the viewport width */
    /* Add any additional styling as needed */
}

.reservation-button:hover {
    background-color: yellow;
}

.selected-date {
  position: relative;
  background-color: #727302;
  width: 140px; /* Adjust according to your design */
  height: 30px; /* Adjust according to your design */
  line-height: 31px; /* Center the text vertically */
}

#dateDisplay{ /* Initially set opacity to 0 */
    visibility: hidden; /* Initially hide the element */
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 20px;
    display: flex;
}

#selectedDatesDisplay {
    margin-left: 5px;
    font-size: 20px;
}

.reservation-link {
    color: yellow;
    font-size: 15px;
}

.fc-event.finishing-day {
  background-color: transparent;
  background-image: linear-gradient(150deg, red 50%, transparent 50%);
  background-size: 100% 100%; /* This ensures the gradient covers the element completely */
}

.fc-event.starting-day {
  background-color: transparent;
  background-image: linear-gradient(150deg, transparent 50%, red 50%);
  background-size: 100% 100%; /* This ensures the gradient covers the element completely */
}

.fc-event.in-between {
  background-color: red;
}

.fc-day {
    cursor: pointer;
}

.fc-day.fc-day-past {
    cursor: not-allowed;
}

.fc-day.fc-day-today {
    cursor: not-allowed;
}
.dom-section {
    margin: 10;
    padding: 0;
    color: yellow;
    font-family: Arial, sans-serif;
    background-image: url('uploads/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dom-section .content {
    margin: 10px 15px;
}

.thumbnail-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail-container a {
    margin:  0 15px;

}

.thumbnail-container img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: block;



}
.center-text {
    text-align: center;
}
.image-title {
    text-align: center;  /* Zarovnání textu na střed */
    margin-top: 5px;     /* Vzdálenost nad názvem */
    color: yellow;        /* Barva textu */
    font-size: 12px;     /* Velikost písma */
}


}

/* ... (ostatné štýly pre tvoju časť s domami) */

