<!DOCTYPE html>
{% load static %}
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <title>Rent4You - Luxusný Prenájom Bytov, Chát a Domov</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
<div class="header">
    <h1><span class="highlight">Rent4You</span></h1>
</div>

<div class="centered-container-column">
    <h1 class="page-title">Objednávka</h1>

    <h3>Termín: {{ first_date }} - {{ last_date }}  ({{ nights }} {{ night_text }})</h3>

    <form method="post">
        {% csrf_token %}
        <label for="id_name_surname">Meno a priezvisko</label>
        {{ form.name_surname }}
        {{ form.name_surname.errors }}
        <br>
        <label for="id_email">Email:</label>
        {{ form.email }}
        {{ form.email.errors }}
        <br>
        <label for="id_phone">Telefón:</label>
        {{ form.phone }}
        {{ form.phone.errors }}
        <br>
        <label for="id_address">Ulica:</label>
        {{ form.address }}
        {{ form.address.errors }}
        <br>
        <label for="id_city">Mesto:</label>
        {{ form.city }}
        {{ form.city.errors }}
        <br>
        <label for="id_postal">PSČ:</label>
        {{ form.postal }}
        {{ form.postal.errors }}
        <br>
        <input class="checkout-submit-button" type="submit" value="Prejsť na platbu">
    </form>
</div>

</body>
</html>
