<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src='{% static "fullcalendar-6.1.9/dist/index.global.min.js" %}'></script>
    <title>Title</title>
    <script>
        var eventData = [
            {% for event in event_data %}
                {
                    title: '',
                    start: '{{ event.start }}',
                    end: '{{ event.end }}',
                    display: 'background',
                    classNames: ['{{ event.classNames }}']
                },
            {% endfor %}
        ];
    </script>
</head>
<body>

    <div class="centered-container">
        <h2 class="gallery-text">Rezervácia</h2>
    </div>

    <div class="calendar-container">
        <div id="calendar"></div>
        <div class="calendar-text">
            <ul>
                <li>Minimálne 2 noci</li>
                <li>Aktuálny deň a dni pred sa nedajú rezervovať</li>
                <li>dlfjasdôlfajdf</li>
                <li>dlfjasdôlfajdf</li>
                <li>dlfjasdôlfajdf</li>
                <li>Cena 150 € za noc</li>
            </ul>
            <div id="dateDisplay">
                <p>Termín: </p>
                <p id="selectedDatesDisplay"></p>
            </div>
          <a class="reservation-button" id="checkout-link" href="#">Rezervovať</a>

{% if messages %}
  {% for message in messages %}
    <p class="message-text"><i class="fa-solid fa-message-exclamation"></i> {{ message }}</p>
  {% endfor %}
{% endif %}
        </div>
    </div>



    <script src='{% static "reservation.js" %}'></script>
</body>
</html>